################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ThreePeaksSolve/obj
/ThreePeaksSolve/bin/Debug
